.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #FBF5DE;
  padding: 16px;
  overflow-y: auto;
  border-left: 1px solid #ccc;
}

.message {
  margin-bottom: 12px;
  padding: 10px 14px;
  background-color: #FBF5DE;
  border-radius: 10px;
  max-width: 70%;
}

.message.user {
  background-color: #3D74B6;
  color: white;
  align-self: flex-end;
}
